RAILS_LOG_TO_STDOUT=true
RAILS_ENV={{ tarabuster_rails_env }}
SECRET_KEY_BASE={{ tarabuster_rails_secret_key_base }}
TARABUSTER_DB_NAME={{ tarabuster_db_name }}
TARABUSTER_DB_HOST={{ tarabuster_db_host }}
TARABUSTER_DB_USERNAME={{ tarabuster_db_username }}
TARABUSTER_DB_PASSWORD={{ tarabuster_db_password }}
